.shop-header {
    border-bottom: 1px black solid;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.shop-header .logo {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
}

.shop-header .card-icon {
    align-self: center;
    font-size: 1.3rem;
}